.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.custom-checkbox + p {
  display: inline-flex;
}
.custom-checkbox + p::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  margin-right: 12px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.custom-checkbox:hover + p::before {
  border: 1px solid white;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.custom-checkbox:checked + p::before {
  background: white url('/icons/check-mark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 13px;
}
