.swiper-slide[data-swiper-slide-index='0'],
.swiper-slide[data-swiper-slide-index='2'],
.swiper-slide[data-swiper-slide-index='4'],
.swiper-slide[data-swiper-slide-index='6'],
.swiper-slide[data-swiper-slide-index='8'],
.swiper-slide[data-swiper-slide-index='10'] {
  width: 255px !important;
}

@media (min-width: 768px) {
  .swiper-slide[data-swiper-slide-index='0'],
  .swiper-slide[data-swiper-slide-index='2'],
  .swiper-slide[data-swiper-slide-index='4'],
  .swiper-slide[data-swiper-slide-index='6'],
  .swiper-slide[data-swiper-slide-index='8'],
  .swiper-slide[data-swiper-slide-index='10'] {
    width: 315px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-slide[data-swiper-slide-index='0'],
  .swiper-slide[data-swiper-slide-index='2'],
  .swiper-slide[data-swiper-slide-index='4'],
  .swiper-slide[data-swiper-slide-index='6'],
  .swiper-slide[data-swiper-slide-index='8'],
  .swiper-slide[data-swiper-slide-index='10'] {
    width: 459px !important;
  }
}

.swiper-slide[data-swiper-slide-index='1'],
.swiper-slide[data-swiper-slide-index='3'],
.swiper-slide[data-swiper-slide-index='5'],
.swiper-slide[data-swiper-slide-index='7'],
.swiper-slide[data-swiper-slide-index='9'] {
  width: 97px !important;
}

@media (min-width: 768px) {
  .swiper-slide[data-swiper-slide-index='1'],
  .swiper-slide[data-swiper-slide-index='3'],
  .swiper-slide[data-swiper-slide-index='5'],
  .swiper-slide[data-swiper-slide-index='7'],
  .swiper-slide[data-swiper-slide-index='9'] {
    width: 226px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-slide[data-swiper-slide-index='1'],
  .swiper-slide[data-swiper-slide-index='3'],
  .swiper-slide[data-swiper-slide-index='5'],
  .swiper-slide[data-swiper-slide-index='7'],
  .swiper-slide[data-swiper-slide-index='9'] {
    width: 330px !important;
  }
}
