.swiper-slide.gallery:nth-of-type(2n + 1) {
  width: 72.5% !important;
}

@media (min-width: 768px) {
  .swiper-slide.gallery:nth-of-type(2n + 1) {
    width: 315px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-slide.gallery:nth-of-type(2n + 1) {
    width: 32% !important;
  }
}

.swiper-slide.gallery:nth-of-type(2n) {
  width: 27.5% !important;
}

@media (min-width: 768px) {
  .swiper-slide.gallery:nth-of-type(2n) {
    width: 226px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-slide.gallery:nth-of-type(2n) {
    width: 23% !important;
  }
}
