.bgWelcome {
  background-image: url('/images/welcome/mountainVector@1x.webp'), url('/images/welcome/bg@1x.webp'),
    url('/images/welcome/sky@1x.webp');
  background-repeat: no-repeat;
  background-position:
    bottom center,
    center 90px;
  background-size:
    140% 131px,
    1217px 100%,
    982px;
}
@media screen and (min-width: 768px) {
  .bgWelcome {
    background-position:
      bottom center,
      center 115px;
    background-size:
      100% 131px,
      1551px 100%,
      100% 100%;
  }
}
@media screen and (min-width: 1280px) {
  .bgWelcome {
    background-position:
      bottom center,
      center;
    background-size:
      100% 131px,
      1664px 100%,
      100% 100%;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bgWelcome {
    background-image: url('/images/welcome/mountainVector@2x.webp'),
      url('/images/welcome/bg@2x.webp'), url('/images/welcome/sky@2x.webp');
  }
}
