.bgReviews {
  background-image: url('/images/mountainVector@1x.webp'), url('/images/bgReviews@1x.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size:
    117% 44px,
    2088px;
}
@media screen and (min-width: 768px) {
  .bgReviews {
    background-size:
      100% 78px,
      2728px;
  }
}
@media screen and (min-width: 1280px) {
  .bgReviews {
    background-size:
      100% 132px,
      2699px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bgReviews {
    background-image: url('/images/mountainVector@2x.webp'), url('/images/bgReviews@2x.webp');
  }
}
